<div class="container-fluid" style="padding: 0; background: linear-gradient(to bottom right, #2DBE60, #4CA2CD);">

  <%= render "home/navbar" %>
  
  <div class="main-container" style="height: 100%; margin-bottom: 20px;">
    <div class="row" style="height: 100%; width: 100%; display: flex;">
      
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4" style="margin: auto;">
        <div class="card">
          <div class="card-body">

            <div class="row">
              <h2 class="text-center">Log in</h2>
            </div>
            
              <div class="row">
                <div class="col-xs-12">
                  
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="col-xs-12">
                      <div class="field form-group label-floating">
                        <%= f.label :email, :class => 'control-label' %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="field form-group label-floating">
                        <%= f.label :password, :class => 'control-label' %><br />
                        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <% if devise_mapping.rememberable? -%>
                        <!-- using material checkbox may cause problem -->
                        <div class="checkbox">
                          <label>
                          <%= f.check_box :remember_me %>
                          </label>
                          <%= f.label :remember_me %>
                        </div>
                      <% end -%>
                    </div>

                    <div class="col-xs-12">
                        <div class="actions">
                          <%= f.submit "Log in", :class => "btn btn-primary full-width" %>
                          <div class="row">
                            <div class="col-xs-12 col-md-6">
                              <a href="" class="btn btn-default full-width" style="background: #4267B2;"><span class="fa fa-facebook"> </span> Facebook</a>
                            </div>
                            <div class="col-xs-12 col-md-6">
                              <a href="" class="btn btn-primary full-width" style="background: #C83C26;"><span class="fa fa-google"> </span> Google</a>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>

                  <div class="text-center">
                    <%= render "devise/shared/links" %>
                  </div>

                </div>
              </div>
              

          </div>        
        </div>
      </div>

    </div>
  </div>


</div>