<%= simple_form_for @post, html: { multipart: true } do |f| %>
        <% if @post.errors.any? %>
                <div id="error_explanation">
                        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                        <ul>
                        <% @post.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                        <% end %>
                        </ul>
                </div>
        <% end %>

        <div class="card card-nav-tabs">
            <div class="content">
                <div class="input-field form-group label-floating">
                        <%= f.input :title , :class => 'form-control',:label_html => { :class => 'active control-label'}%>
                </div>
                <div class="input-field form-group label-floating">
                        <%= f.input :description, :class => 'form-control',:label_html => { :class => 'active control-label' } %>
                </div>
                <div class="control-group">
                  <%= f.label :pictures, class: "control-label" %>
                  <div class="controls">
                    <%= file_field_tag "pics[]", type: :file, multiple: true %>
                  </div>
                </div>
                <div class="input-field">
                        <%= f.input :tag_id, as: :select, placeholder:"what relates to your post the most?", collection: Tag.all, :class => 'btn btn-primary'%>
                </div>
                <%= hidden_field_tag(:status, true) %>
                <%= f.button :submit ,:value=>"Post",:class=>"btn right"%>
            </div>
        </div>
<% end %>
