<div class="card post">
	<div class="content">
		<div class="row" style="display: flex;">
			<%=image_tag post.user.dp.url(:thumb),class: "post-img-thumb"%>

			<h5 class="post-heading"><%= post.user.name%></h5>

			<div class="post-expand"><a class="fa fa-ellipsis-h" href="#post"></a></div>
		</div>
		<div class="row post-desc" style="text-align:left;font-weight:bold">
			<%= post.title%>
		</div>
		<div class="row post-desc" style="text-align:left">
			<%= post.description%>
			<p>
				<span class="label label-warning"><%= Tag.find(post.tag_id).name %></span>
			</p>
		</div>

		<div class="row">
			<!-- carousel -->
			<% if post.pictures.size!=0 %>
				<div id="post-carousel-<%=post.id %>" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<% post.pictures.each_with_index do |pic, i|%>
									<!-- Wrapper for slides -->
									<%if i == 0 %>
											<div class="item active">
									<% else %>
											<div class="item">
									<% end %>
											<%=image_tag pic.pic.url() %>
										</div>
							<% end %>
						</div>
					<a href="#post-carousel-<%=post.id %>" class="left carousel-control" data-slide="prev">
				      <span class="icon-prev fa-stack fa-lg" style="font-size: 3em; font-weight: bold; position: relative; left: -20%;">
				          <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
				          <i class="fa fa-angle-left"></i>
				      </span>
				  </a>
				  <a href="#post-carousel-<%=post.id %>" class="right carousel-control" data-slide="next">
				      <span class="icon-next fa-stack fa-lg" style="font-size: 3em; font-weight: bold; position: relative; right: -20%;">
				          <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
				          <i class="fa fa-angle-right"></i>
				      </span>
				  </a>
				</div>
			<% end %>

		</div>
		<script>
            function copyToClipboard(element) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).text()).select();
                document.execCommand("copy");
                $temp.remove();
            }
		</script>

		<div class="row">
			<div class="post-btn-group btn-group" role="group" aria-label="Basic example">
				<p id="ctcb" style="display: none">http://localhost:3000/posts/<%=post.id%></p>
				<button type="button" class="btn btn-info"><span class="fa fa-eye"></span> 434</button>
			  <button type="button" class="btn btn-primary"><i class="fa fa-inr"></i> bids (<%= post.bids.size %>)</button>
			  <button type="button" onclick="copyToClipboard('#ctcb')" class="btn btn-secondary"><i class="fa fa-share-alt"></i>&nbsp; Clipboard</button>
			</div>
		</div>
	</div>
</div>
