<div class="card post">
	<div class="content">
		<div class="row" style="display: flex;">
			<%=image_tag @user.dp.url(:thumb),class: "post-img-thumb"%>

			<h5 class="post-heading"><%= post.user.name%></h5>

			<div class="post-expand"><a class="fa fa-ellipsis-h" href="#post"></a></div>
		</div>
		<div class="row post-desc" style="text-align:left;font-weight:bold">
			<%= post.title%>
		</div>
		<div class="row post-desc" style="text-align:left">
			<%= post.description%>
		</div>

		<div class="row">
			<!-- carousel -->
			<%= render '/posts/carousel' %>

		</div>
		<script>
            function copyToClipboard(element) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).text()).select();
                document.execCommand("copy");
                $temp.remove();
            }
		</script>

		<div class="row">
			<div class="post-btn-group btn-group" role="group" aria-label="Basic example">
				<p id="ctcb" style="display: none">http://localhost:3000/posts/<%=post.id%></p>
				<button type="button" class="btn btn-info"><span class="fa fa-eye"></span> 434</button>
			  <button type="button" class="btn btn-primary"><i class="fa fa-inr"></i> bids (<%= post.bids.size %>)</button>
			  <button type="button" onclick="copyToClipboard('#ctcb')" class="btn btn-secondary"><i class="fa fa-share-alt"></i>&nbsp; Clipboard</button>
			</div>
		</div>
	</div>
</div>
