<!DOCTYPE html>
<html>
  <head>
    <title>Propgage</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico'%>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <style>
        body{
          background-image: url("http://thepecul.com/assets/imported/pecul_bck-8466763b55485ea18f5bee2498df0cd748cff8be1be164f0dcd83c310c6b5eff.png");
          background-repeat: repeat;
          background-size: cover;
          background-color: white;
        }
      </style>
      <%= render "shared/lunavbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
